/* - Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)


- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)
*/

:root {
  /* Colors */
  --primary-soft-blue: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);
  --primary-main-bg: hsl(217, 54%, 11%);
  --primary-card-bg: hsl(216, 50%, 16%);
  --primary-line-bg: hsl(215, 32%, 27%);
  --primary-white: hsl(0, 0%, 100%);
  /* Font */
  --font-family: "Outfit", sans-serif;
  /* Font Size */
  --font-size: 18px;
  /* Font Weight */
  --font-weight-bold: 600;
  --font-weight-normal: 400;
  --font-weight-light: 300;
}

/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-main-bg);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
}

.card {
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--primary-card-bg);
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.container {
  position: relative;
  background-color: var(--primary-cyan);
  border-radius: 7px;
  backface-visibility: hidden;
  height: 290px;
}

.container:hover .eye {
  opacity: 1;
}

.container:hover .card__image {
  opacity: 0.35;
}

.eye {
  height: 32px;
  width: 32px;
  stroke: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  display: block;
}
.card__image {
  border-radius: 5px;
  max-width: 100%;
  height: 100%;
  opacity: 1;
  transition: 0.4s ease-out;
  cursor: pointer;
}

.card__title:link,
.card__title:visited {
  color: var(--primary-white);
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  text-decoration: none;
  transition: color 0.4s ease-out;
}

.card__title:hover,
.card__title:active {
  color: var(--primary-cyan);
}

.jules:link,
.jules:visited {
  color: var(--primary-white);
  text-decoration: none;
  transition: color 0.4s ease-out;
}

.jules:hover,
.jules:active {
  color: var(--primary-cyan);
}

.price-and-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid var(--primary-line-bg);
}

.card__description {
  color: var(--primary-soft-blue);
  font-weight: var(--font-weight-light);
}

.card__price {
  color: var(--primary-cyan);
  font-weight: var(--font-weight-bold);
}

.card__expiry {
  color: var(--primary-soft-blue);
}
.etherum {
  height: 12px;
  stroke: var(--primary-cyan);
}

.clock {
  height: 12px;
}

.card__author {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: --primary-soft-blue;
}

.card__avatar {
  width: 24px;
  border: 2px solid white;
  border-radius: 50%;
}

.card__introduction {
  color: var(--primary-soft-blue);
}

footer {
  color: var(--primary-white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2%;
}
.heart {
  width: 16px;
}

.coded-by:link,
.coded-by:visited {
  text-decoration: none;
  color: var(--primary-white);
  transition: all 0.4s ease-out;
}

.coded-by:hover,
.coded-by:active {
  color: var(--primary-cyan);
}
